@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}